* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
}

.homeWrapper, .eventsWrapper, .likedWrapper, .historyWrapper, .settingsWrapper, .dbWriteWrapper {
    display: flex;
}

.sidebarWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: rgb(118, 16, 212);
    color: white;
    justify-content: center;
}

.navbarItem {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
  }

  .bottom-right{
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.img {
    display: block;
    margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
    width:80%;
    height: 80%;
}
div.c {
  font-size: 200%;
}
button.size
{
  font-size: 80%;
}
h1.size
{
  font-size: 200%;
}