* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
}

.eventsWrapper {
    background-color: #ffe599;
}

.eventContent {
    width: 85%;
}

.eventCard {
    margin: 20px;
}

.eventCard.clickable{
    cursor: pointer;
}

.eventCard.clickable:hover {
    background-color: #ECECEC;
}

.eventCard img {
    filter: drop-shadow(3px 3px 4px);
    object-fit: cover;
    margin-right: 17.5px;
    width: 135px;
    height: 135px;
    float: left;
}

.eventCard.singular img {
    width: 240px;
    height: 240px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.eventCard .title {
    color: #20124d;
    font-weight: 700;
    font-size: 36px;
    margin-right: 0.7rem;
}

.eventCard.singular .title {
    font-size: 62.5px;
}

.eventCard .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eventCard .full-desc {
    font-size: 16px;
}

.eventCard .date {
    font-weight: 700;
    font-size: 22.5px;
}

.eventCard.singular .date {
    font-size: 35px;
}

.eventCard .infoStrip {
    font-size: 18px;
}

.eventCard .infoStrip .property {
    font-weight: 700;
}

.eventCard .likeCount {
    font-weight: 1000;
}

.eventCard .likes {
    color: #E510A3;
    font-size: 21px;
    font-weight: 700;
}

.eventCard.singular .likes {
    font-size: 27px;
    font-style: italic;
}

.eventCard .main-btns {
    margin: 5px;
}

.eventCard .back-btn {
    float: right;
}

.eventCard .main-btn {
    margin-right: 12.5px;
    margin-bottom: 11px;
}

.eventCard .like-btn {
    background-color: #E510A3;
    border-color: #d70f97;
}

.eventCard .maps-btn {
    margin-top: 5px 0 5px 0;
    width: 100%;
}

.eventCard .like-btn:hover {
    background-color: #d70f97;
    border-color: #d70f97;
}

.eventCard .like-btn:active {
    background-color: #E510A3;
    border-color: #d70f97;
}

.eventCard .event-info * {
    font-size: 20px;
}

.eventCard .event-info .property {
    font-weight: bold;
}

.eventCard h1 {
    color: #20124d;
    font-weight: bold;
    font-size: 35px;
}

.homeWrapper, .eventsWrapper, .likedWrapper, .historyWrapper, .settingsWrapper, .dbWriteWrapper {
    display: flex;
}

.sidebarWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: rgb(118, 16, 212);
    color: white;
    justify-content: center;
}

.navbarItem {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

  .bottom-right{
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.img {
    display: block;
    margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
    width:80%;
    height: 80%;
}
div.c {
  font-size: 200%;
}
button.size
{
  font-size: 80%;
}
h1.size
{
  font-size: 200%;
}

.AddEvent {
    width: 2000px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.AddEventElement {
    margin-bottom: 15px;
}
.AddEventForm {
    width: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.EventTitle {
    display:flex;
    color: rgb(118, 16, 212);
    justify-content: center;
    align-items: center;
}

.AddEventSubmit {
    margin-top: 10px;
}
