.btn-like {
    background-color: transparent;
    color: #2b2b2b;
    font-size: 30px;
    font-weight: 700;
    border-radius: 50%;
    text-align:center;
    padding-top:0%;
    padding-bottom:0%;
    padding-left:0%;
    padding-right:0.2%;
}
.btn-like:hover{
    background-image:none;
    background-color: transparent;
    border-color:transparent !important;
    color:#E510A3 !important;
    font-size: 30px;
    font-weight: 700;
}

.btn-liked{
    background-color: transparent;
    color: #E510A3;
    font-size: 30px;
    font-weight: 700;
    border-radius: 50%;
    text-align:center;
    padding-top:0%;
    padding-bottom:0%;
    padding-left:0%;
    padding-right:0.2%;
}

.btn-liked:hover{
    background-image:none;
    background-color: transparent;
    border-color:transparent !important;
    color:#2b2b2b !important;
    font-size: 30px;
    font-weight: 700;
}