 .bottom-right {
   position: absolute;
   bottom: 2%;
   right: 2%;
 }

 .img {
   display: block;
   margin-top: 10%;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   height: 80%;
   overflow-y: hidden;
 }

 div.c {
   font-size: 200%;
 }

 button.size {
   font-size: 100%;

 }

 h1.size {
   font-size: 250%;
   background: linear-gradient(45deg, blue, white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

 }

 h2.size {

   font-size: 200%;
   background: linear-gradient(45deg, blue, white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

 }

 body {
  background-color: white;
}